@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Nunito, sans-serif;
  font-weight: bolder;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #8794dd, #41BEAC)
}

/* Heading style rule */

#heading {
  font-family: Nunito, sans-serif;
  text-decoration: none;
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 4px;
  margin-top: 1em;
}

/* Style rules for all  buttons and elements of calculator */
.calcGrid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 125px);
  grid-template-rows: minmax(120px, auto) repeat(6, 80px);
}

.calcGrid>button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  box-shadow:
    25px 25px 75px rgba(0, 0, 0, 0.25),
    10px 10px 70px rgba(0, 0, 0, 0.25),
    inset -5px -5px 15px rgba(0, 0, 0, 0.25),
    inset 5px 5px 15px rgba(0, 0, 0, 0.25);
}

.calcGrid>button:hover {
  background-color: rgba(83, 108, 155, 0.9);
}

.span-two {
  grid-column: span 2;
}

#backspace {
  font-size: 1em;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}

/* Footer style rule */

.footer {
  font-family: Nunito, sans-serif;
  font-size: 0.5em;
  margin-bottom: 25px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  text-align: justify;
}
